<p id="notice"><%= notice %></p>

<p>
  Post:
  <%= @comment.post_id %>
</p>

<p>
  Body:
  <%= @comment.body %>
</p>

<h2>Comments</h2>
<div id="comments">
	<% @post.comments.each do |coment| %>
	<%= div_for comment do %>
	<p>
Posted <%= time_ago_inwords(comment.created_at) ago %>><br/>
		<%= comment.body) %>
	</p>
	<% end %>
<% end %>
</div>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
